!!!

%html
%head
  %title JSHQ - JavaScript Plugin Headquarters
  = stylesheet_link_tag("application")
  = csrf_meta_tags
  %meta{"http-equiv" => "X-UA-Compatible", "content" => "chrome=1"}

%body
  = link_to(image_tag('http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'), 'http://github.com/russ/jshq', :id => 'github')
  #wrap
    #header.container
      #logo
        = link_to('JSHQ<small>.org</small>'.html_safe, root_path)
        %h1 home for javascript plugins
      #navigation
        = link_to("Plugins", packages_path, :class => 'button')
        - if user_signed_in?
          = link_to("Account", edit_user_registration_path, :class => 'button')
          = link_to("Logout", destroy_user_session_path, :class => 'button', :method => :delete)
        - else
          = link_to("Register", new_user_registration_path, :class => 'button')
          = link_to("Login", new_user_session_path, :class => 'button')
    #search.container
      = form_tag(search_packages_path, :method => "get") do
        .searchfield
          = text_field_tag(:q, '', :placeholder => "Find the JavaScript plugin you're looking for!")
          = submit_tag("Search Plugins", :class => 'button')
  
    #content.container
      = display_flash
      = yield

  #footer
    %p 
      JSHQ is a project from the <br>
      = link_to(image_tag('lvrug.png', :alt => "Las Vegas Ruby Group"), "http://www.meetup.com/las-vegas-ruby-on-rails/")
    
  = javascript_include_tag("application")